body {
  font-family: 'Nunito', sans-serif;
  background: #2C2F33;
  color: #f0f0f0;
}

.container {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 40px;
  color: #B8844A;
  text-shadow: 2px 2px #4F3F32;
}

.header img {
  width: 150px;
  margin-left: 15px;
}

.description {
  font-size: 170%;
  background: RGBA(79, 63, 50, 0.5);
  box-shadow: 5px 5px #B8844A;
  padding: 10px 10px;
  border-radius: 12px;
}

.projects {
  margin-top: 50px;
  text-align: center;
}

.project {
  background: #b8844a;
  max-width: 200px;
  padding: 2px 2px;
  margin-top: 10px;
  border-radius: 5px;
  display: inline-block;
}

.project:hover {
  padding: 5px 5px;
}

.users {
  margin-top: 50px;
  text-align: center;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  background: #3d3632;
  padding: 12px 12px;
  border-radius: 12px;
}

.user img {
  width: 50px;
  margin-right: 10px;
  border-radius: 100px;
}
