body {
  font-family: 'Nunito', sans-serif;
  background: #2C2F33;
  color: #f0f0f0;
  overflow-x: hidden;
}

.container {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 55px;
  color: #B8844A;
  text-shadow: 2px 2px #4F3F32;
}

.header img {
  width: 200px;
  margin-left: 15px;
}

.description {
  font-size: 170%;
  background: RGBA(79, 63, 50, 0.5);
  box-shadow: 5px 5px #B8844A;
  padding: 10px 10px;
  border-radius: 12px;
}

.projectsff {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectd {
  margin-left: 20px;
  background: #b8844a;
  max-width: 150px;
  min-height: 150px;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: .3s;
}

.projects {
  margin-top: 45px;
  text-align: center;
}

.project {
  cursor: pointer;
  background: #b8844a;
  max-width: 200px;
  padding: 2px 2px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  display: inline-block;
  transition-duration: .3s;
}

.project p {
  margin: 10px;
}

.project:hover {
  padding: 5px 5px;
}

.users {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3d3632;
  padding: 12px 12px;
  border-radius: 12px;
  transition-duration: .3s;
}

.user:hover {
  padding: 17px 17px;
}

.user img {
  width: 60px;
  margin-right: 10px;
  border-radius: 100px;
}

footer {
  margin-top: 50px;
}

footer a {
  text-decoration: none;
  color: #757876;
  transition-duration: .2s;
}

footer a:hover {
  color: white;
}

footer a:not(footer a:first-child) {
  margin-left: 10px;
}

@media only screen and (max-width: 750px) {
  .users {
    margin-top: 40px;
    text-align: center;
    display: block;
  }

  .user {
    margin-left: unset;
    margin-right: unset;
    text-align: center;
    margin-top: 10px;
  }
  
  .user img {
    width: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: 40px;
  }

  .header img {
    width: 150px;
  }

  .project {
    margin-top: 10px;
  }
}